import React from 'react';
import PropTypes from 'prop-types';
import <%- sortedAssociations[aindex].targetModelPlCp _%>ToAddTransferView from './<%- sortedAssociations[aindex].targetModelPlLc _%>-to-add-transfer-view/<%- sortedAssociations[aindex].targetModelPlCp _%>ToAddTransferView'
<%if(sortedAssociations[aindex].type === 'to_many'){-%>
import <%- sortedAssociations[aindex].targetModelPlCp _%>ToRemoveTransferView from './<%- sortedAssociations[aindex].targetModelPlLc _%>-to-remove-transfer-view/<%- sortedAssociations[aindex].targetModelPlCp _%>ToRemoveTransferView'
<%}-%>
import { makeStyles } from '@material-ui/core/styles';
import { useTranslation } from 'react-i18next';
import Grid from '@material-ui/core/Grid';
import Fade from '@material-ui/core/Fade';
import Divider from '@material-ui/core/Divider';
import Typography from '@material-ui/core/Typography';

const useStyles = makeStyles(theme => ({
  root: {
    margin: theme.spacing(0),
  },
}));

export default function <%- sortedAssociations[aindex].targetModelCp _%>TransferLists(props) {
  const classes = useStyles();
  const { t } = useTranslation();

  const {
    item,
    idsToAdd,
<%if(sortedAssociations[aindex].type === 'to_many'){-%>
    idsToRemove,
<%}-%>
    handleTransferToAdd,
    handleUntransferFromAdd,
<%if(sortedAssociations[aindex].type === 'to_many'){-%>
    handleTransferToRemove,
    handleUntransferFromRemove,
<%}-%>
    handleClickOn<%- sortedAssociations[aindex].targetModelCp _%>Row,
  } = props;
  
  return (
    <div>
      <Fade in={true} timeout={500}>
        <Grid
          className={classes.root} 
          container 
          justify='center'
          alignItems='flex-start'
          spacing={2}
        > 
          <Grid item xs={12}>
            <Divider />
            <Grid container justify='flex-start'>
              <Grid item>
                <Typography variant="body2" color="textSecondary" gutterBottom>
                  { t('modelPanels.add') }
                </Typography>
              </Grid>
            </Grid>
          </Grid>
          <Grid item xs={12}>
            <<%- sortedAssociations[aindex].targetModelPlCp _%>ToAddTransferView
              item={item}
              idsToAdd={idsToAdd}
              handleTransfer={handleTransferToAdd}
              handleUntransfer={handleUntransferFromAdd}
              handleClickOn<%- sortedAssociations[aindex].targetModelCp _%>Row={handleClickOn<%- sortedAssociations[aindex].targetModelCp _%>Row}
            />
          </Grid>
<%if(sortedAssociations[aindex].type === 'to_many'){-%>
          <Grid item xs={12}>
            <Divider />
            <Grid container justify='flex-start'>
              <Grid item>
                <Typography variant="body2" color="textSecondary" gutterBottom>
                    { t('modelPanels.remove') }
                </Typography>
              </Grid>
            </Grid>
          </Grid>
          <Grid item xs={12}>
            <<%- sortedAssociations[aindex].targetModelPlCp _%>ToRemoveTransferView
              item={item}
              idsToRemove={idsToRemove}
              handleTransfer={handleTransferToRemove}
              handleUntransfer={handleUntransferFromRemove}
              handleClickOn<%- sortedAssociations[aindex].targetModelCp _%>Row={handleClickOn<%- sortedAssociations[aindex].targetModelCp _%>Row}
            />
          </Grid>
<%}-%>

        </Grid>
      </Fade>
    </div>
  );
}
<%- sortedAssociations[aindex].targetModelCp _%>TransferLists.propTypes = {
  item: PropTypes.object.isRequired,
  idsToAdd: PropTypes.array.isRequired,
<%if(sortedAssociations[aindex].type === 'to_many'){-%>
  idsToRemove: PropTypes.array.isRequired,
<%}-%>
  handleTransferToAdd: PropTypes.func.isRequired,
  handleUntransferFromAdd: PropTypes.func.isRequired,
<%if(sortedAssociations[aindex].type === 'to_many'){-%>
  handleTransferToRemove: PropTypes.func.isRequired,
  handleUntransferFromRemove: PropTypes.func.isRequired,
<%}-%>
  handleClickOn<%- sortedAssociations[aindex].targetModelCp _%>Row: PropTypes.func.isRequired,    
};