import React, { useState, useEffect, useRef } from 'react';
import PropTypes from 'prop-types';
import { makeStyles } from '@material-ui/core/styles';
import { useTranslation } from 'react-i18next';
import <%- nameCp _%>AttributesPage from './components/<%- nameLc _%>-attributes-page/<%- nameCp _%>AttributesPage'
import <%- nameCp _%>AssociationsPage from './components/<%- nameLc _%>-associations-page/<%- nameCp _%>AssociationsPage'
<%for( let i=0; i<sortedAssociatedModels.length; i++ ) {
  if(sortedAssociatedModels[i].targetModel !== name) {-%>
import <%- sortedAssociatedModels[i].targetModelCp _%> DetailPanel from '../../../<%- sortedAssociatedModels[i].targetModelLc _%>-table/components/<%- sortedAssociatedModels[i].targetModelLc _%>-detail-panel/<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel'
<%} else {-%>
import <%- sortedAssociatedModels[i].targetModelCp _%> DetailPanelB from '../../../<%- sortedAssociatedModels[i].targetModelLc _%>-table/components/<%- sortedAssociatedModels[i].targetModelLc _%>-detail-panel/<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel'
<%}}-%>
import Typography from '@material-ui/core/Typography';
import Grid from '@material-ui/core/Grid';
import Dialog from '@material-ui/core/Dialog';
import AppBar from '@material-ui/core/AppBar';
import Toolbar from '@material-ui/core/Toolbar';
import IconButton from '@material-ui/core/IconButton';
import CloseIcon from '@material-ui/icons/Close';
import Slide from '@material-ui/core/Slide';
import Tooltip from '@material-ui/core/Tooltip';
import Divider from '@material-ui/core/Divider';

const useStyles = makeStyles(theme => ({
  root: {
    minWidth: 450,
    minHeight: 1200,
    paddingTop: theme.spacing(1),
  },
  title: {
    marginLeft: theme.spacing(2),
    flex: 1,
  },
}));

const Transition = React.forwardRef(function Transition(props, ref) {
  return <Slide direction="up" ref={ref} {...props} />;
});

export default function <%- nameCp _%>DetailPanel(props) {
  const classes = useStyles();
  const { t } = useTranslation();
  const { 
    item,
    dialog,
    handleClose
  } = props;
  
  const [open, setOpen] = useState(true);
  const valueOkStates = useRef(getInitialValueOkStates());

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  const [<%- sortedAssociatedModels[i].targetModelLc _%>DetailDialogOpen, set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen] = useState(false);
  const [<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem, set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem] = useState(undefined);
<%}-%>

  useEffect(() => {}, []);
  
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  useEffect(() => {
    if (<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem !== undefined) {
      set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen(true);
    }
  }, [<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem]);
<%}-%>

  function getInitialValueOkStates() {
    /*
      status codes:
        1: acceptable
        0: unknown/not tested yet (this is set on initial render)/empty
       -1: not acceptable 
    */
    let initialValueOkStates = {};

<%for( let i=0; i<attributesArr.length; i++ ){-%>
    initialValueOkStates.<%- attributesArr[i][0] %> = (item.<%- attributesArr[i][0] _%>!==null ? 1 : 0);
<%}-%>

    return initialValueOkStates;
  }

  const handleCancel = (event) => {
    setOpen(false);
    handleClose(event);
  }

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  const handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row = (event, item) => {
    set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem(item);
  };

  const handle<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogClose = (event) => {
    delayedClose<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel(event, 500);
  }

  const delayedClose<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel = async (event, ms) => {
    await new Promise(resolve => {
      window.setTimeout(function() {
        set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen(false);
        set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem(undefined);
        resolve("ok");
      }, ms);
    });
  };

<%}-%>

  return (
    <div>
      {/* Dialog Mode */}
      {(dialog !== undefined && dialog === true) && (
        
        <Dialog fullScreen open={open} onClose={handleCancel} TransitionComponent={Transition}>
          <AppBar>
            <Toolbar>
              <Tooltip title={ t('modelPanels.close') }>
                <IconButton
                  edge="start"
                  color="inherit"
                  onClick={handleCancel}
                >
                  <CloseIcon />
                </IconButton>
              </Tooltip>
              <Typography variant="h6" className={classes.title}>
                { t('modelPanels.detailOf') +  ": <%- nameCp %> | id: " + item.id }
              </Typography>
            </Toolbar>
          </AppBar>
          <Toolbar />

          <div className={classes.root}>
            <Grid container justify='center' alignItems='flex-start' alignContent='flex-start' spacing={1}>

              <Grid item xs={12} sm={11} md={10} lg={9} xl={8}>
                <Divider />
                <Grid container justify='flex-start'>
                  <Grid item>
                    <Typography variant="body2" color="textSecondary" gutterBottom>
                      { t('modelPanels.attributes') }
                    </Typography>
                  </Grid>
                </Grid>
              </Grid>

              <Grid item xs={12}>
                {/* Attributes Page */}
                <<%- nameCp _%>AttributesPage
                  item={item}
                  valueOkStates={valueOkStates.current}
                />
              </Grid>

              <Grid item xs={12} sm={11} md={10} lg={9} xl={8}>
                <Divider />
                <Grid container justify='flex-start'>
                  <Grid item>
                    <Typography variant="body2" color="textSecondary" gutterBottom>
                      { t('modelPanels.associations') }
                    </Typography>
                  </Grid>
                </Grid>
              </Grid>
    
              <Grid item xs={12}>
                {/* Associations Page */}
                <<%- nameCp _%>AssociationsPage
                  item={item}
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
                  handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row={handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row}
<%}-%>
                />
              </Grid>
            </Grid>
          </div>
        </Dialog>
      )}

      {/* No-Dialog Mode */}
      {(dialog !== undefined && dialog === false) && (
    
          <div className={classes.root}>
            <Grid container justify='center'>
              <Grid item xs={12}>
                  
                {/* Attributes Page */}
                <<%- nameCp _%>AttributesPage
                  item={item}
                  valueOkStates={valueOkStates.current}
                />
    
                {/* Associations Page */}
                <<%- nameCp _%>AssociationsPage
                  item={item}
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
                  handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row={handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row}
<%}-%>
                />
    
              </Grid>
            </Grid>
          </div>
      )}

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
    {/* Dialog: <%- sortedAssociatedModels[i].targetModelCp %> Detail Panel */}
    {(<%- sortedAssociatedModels[i].targetModelLc _%>DetailDialogOpen) && (
<%if(sortedAssociatedModels[i].targetModel !== name) {-%>
      <<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel
<%} else {-%>
      <<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanelB
<%}-%>
        item={<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem}
        dialog={true}
        handleClose={handle<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogClose}
      />
    )}
<%}-%>
    </div>
  );
}
<%- nameCp _%>DetailPanel.propTypes = {
  item: PropTypes.object.isRequired,
  dialog: PropTypes.bool,
  handleClose: PropTypes.func.isRequired
};