import React from 'react';
import PropTypes from 'prop-types';
import Tabs from '@material-ui/core/Tabs';
import Tab from '@material-ui/core/Tab';
<%if(sortedAssociations.length === 0){-%>
import { useTranslation } from 'react-i18next';
<%}-%>

export default function <%- nameCp _%>AssociationsMenuTabs(props) {
<%if(sortedAssociations.length === 0){-%>
  const { t } = useTranslation();
<%}-%>
  const {
    associationSelected,
    handleClick,
  } = props;

  return (
    <div>
      <Tabs
        value={associationSelected}
        onChange={handleClick}
        indicatorColor="primary"
        textColor="primary"
        variant="scrollable"
        scrollButtons="auto"
      >
<%if(sortedAssociations.length === 0){-%>
        <Tab key='no-associations' label={ t('modelPanels.noAssociations') } value='no-associations' />
<%}-%>
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
        <Tab key='<%- sortedAssociations[i].relationName _%>' label='<%- sortedAssociations[i].relationNameCp _%>' value='<%- sortedAssociations[i].relationNameLc _%>' />
<%}-%>
      </Tabs>
    </div>
  );
}
<%- nameCp _%>AssociationsMenuTabs.propTypes = {
  associationSelected: PropTypes.string.isRequired,
  handleClick: PropTypes.func.isRequired,
};