import React from 'react';
import PropTypes from 'prop-types';
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
import <%- sortedAssociations[i].relationNameOnPascal _%>TransferLists from './<%- sortedAssociations[i].relationNameLc _%>-transfer-lists/<%- sortedAssociations[i].relationNameCp _%>TransferLists'
<%}-%>
import <%- nameOnPascal _%>AssociationsMenuTabs from './<%- nameCp _%>AssociationsMenuTabs'
import { makeStyles } from '@material-ui/core/styles';
import Grid from '@material-ui/core/Grid';
import Fade from '@material-ui/core/Fade';

const useStyles = makeStyles(theme => ({
  root: {
    margin: theme.spacing(0),
    minHeight: 1200,
  },
  menu: {
    marginTop: theme.spacing(0),
  }
}));

export default function <%- nameOnPascal _%>AssociationsPage(props) {
  const classes = useStyles();
  const {
    hidden,
<%if(sortedAssociations.length > 0) {-%>
    item,
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
    <%- sortedAssociations[i].relationNameLc _%>IdsToAdd,
<%if(sortedAssociations[i].type === 'to_many'){-%>
    <%- sortedAssociations[i].relationNameLc _%>IdsToRemove,
<%}}-%>
    handleTransferToAdd,
    handleUntransferFromAdd,
<%if(hasToManyAssociations) {-%>
    handleTransferToRemove,
    handleUntransferFromRemove,
<%}-%>
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
    handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row,
<%}}-%>
  } = props;
  const [associationSelected, setAssociationSelected] = React.useState('<%- (sortedAssociations.length > 0) ? sortedAssociations[0].relationNameLc : 'no-associations' _%>');

  const handleAssociationClick = (event, newValue) => {
    setAssociationSelected(newValue);
  }

  return (
    <div hidden={hidden}>
      <Fade in={!hidden} timeout={500}>
        <Grid
          className={classes.root} 
          container 
          justify='center'
          alignItems='flex-start'
          alignContent='flex-start'
          spacing={0}
        > 

          {/* Menu Tabs: Associations */}
          <Grid item xs={12} sm={10} md={9} className={classes.menu}>
            <<%- nameOnPascal _%>AssociationsMenuTabs
              associationSelected={associationSelected}
              handleClick={handleAssociationClick}
            />
          </Grid>

<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
          {/* <%- sortedAssociations[i].relationNameCp %> Transfer Lists */}
          {(associationSelected === '<%- sortedAssociations[i].relationNameLc _%>') && (
            <Grid item xs={12} sm={10} md={9}>
              <<%- sortedAssociations[i].relationNameOnPascal _%>TransferLists
                item={item}
                idsToAdd={<%- sortedAssociations[i].relationNameLc _%>IdsToAdd}
<%if(sortedAssociations[i].type === 'to_many'){-%>
                idsToRemove={<%- sortedAssociations[i].relationNameLc _%>IdsToRemove}
<%}-%>
                handleTransferToAdd={handleTransferToAdd}
                handleUntransferFromAdd={handleUntransferFromAdd}
<%if(sortedAssociations[i].type === 'to_many'){-%>
                handleTransferToRemove={handleTransferToRemove}
                handleUntransferFromRemove={handleUntransferFromRemove}
<%}-%>
                handleClickOn<%- sortedAssociations[i].targetModelCp _%>Row={handleClickOn<%- sortedAssociations[i].targetModelCp _%>Row}
              />
            </Grid>
          )}
<%}-%>

        </Grid>
      </Fade>
    </div>
  );
}
<%- nameOnPascal _%>AssociationsPage.propTypes = {
  hidden: PropTypes.bool.isRequired,
<%if(sortedAssociations.length > 0) {-%>
  item: PropTypes.object.isRequired,
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
  <%- sortedAssociations[i].relationNameLc _%>IdsToAdd: PropTypes.array.isRequired,
<%if(sortedAssociations[i].type === 'to_many'){-%>
  <%- sortedAssociations[i].relationNameLc _%>IdsToRemove: PropTypes.array.isRequired,
<%}}-%>
  handleTransferToAdd: PropTypes.func.isRequired,
  handleUntransferFromAdd: PropTypes.func.isRequired,
<%if(hasToManyAssociations) {-%>
  handleTransferToRemove: PropTypes.func.isRequired,
  handleUntransferFromRemove: PropTypes.func.isRequired,
<%}-%>
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row: PropTypes.func.isRequired,
<%}}-%>
};