import React, { useState, useRef } from 'react';
import { useSelector } from 'react-redux';
import PropTypes from 'prop-types';
import <%- nameCp _%>AttributesPage from './components/<%- nameLc _%>AttributesPage/<%- nameCp _%>AttributesPage'
import <%- nameCp _%>AssociationsPage from './components/<%- nameLc _%>AssociationsPage/<%- nameCp _%>AssociationsPage'
import <%- nameCp _%>TabsA from './components/<%- nameCp _%>TabsA'
import <%- nameCp _%>ConfirmationDialog from './components/<%- nameCp _%>ConfirmationDialog'
import api from '../../../../../../../requests/index'
import { makeStyles } from '@material-ui/core/styles';
import Typography from '@material-ui/core/Typography';
import Grid from '@material-ui/core/Grid';
import Dialog from '@material-ui/core/Dialog';
import AppBar from '@material-ui/core/AppBar';
import Toolbar from '@material-ui/core/Toolbar';
import IconButton from '@material-ui/core/IconButton';
import CloseIcon from '@material-ui/icons/Close';
import Slide from '@material-ui/core/Slide';
import Fab from '@material-ui/core/Fab';
import Tooltip from '@material-ui/core/Tooltip';
import SaveIcon from '@material-ui/icons/Save';

const useStyles = makeStyles(theme => ({
  root: {
    marginTop: theme.spacing(3),
    minWidth: 450,
  },
  appBar: {
    position: 'relative',
  },
  title: {
    marginLeft: theme.spacing(2),
    flex: 1,
  },
  tabsA: {
    backgroundColor: "#fafafa",
  },
  fabButton: {
    position: 'absolute',
    zIndex: 1,
    bottom: -26+3,
    right: 10,
    margin: '0 auto',
  },
}));

const Transition = React.forwardRef(function Transition(props, ref) {
  return <Slide direction="up" ref={ref} {...props} />;
});

export default function <%- nameCp _%>CreatePanel(props) {
  const classes = useStyles();
  const { 
    handleClose,
    handleOk,
  } = props;

  const [open, setOpen] = useState(true);
  const [tabsValue, setTabsValue] = useState(0);
  const [valueOkStates, setValueOkStates] = useState(getInitialValueOkStates());

  const [confirmationOpen, setConfirmationOpen] = useState(false);
  const [confirmationTitle, setConfirmationTitle] = useState('');
  const [confirmationText, setConfirmationText] = useState('');
  const [confirmationAcceptText, setConfirmationAcceptText] = useState('');
  const [confirmationRejectText, setConfirmationRejectText] = useState('');

  const handleAccept = useRef(undefined);
  const handleReject = useRef(undefined);
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
  const <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd = useRef([]);
<%}-%>
  const values = useRef(getInitialValues());
  const valuesOkRefs = useRef(getInitialValueOkStates());

  const graphqlServerUrl = useSelector(state => state.urls.graphqlServerUrl);

  function getInitialValues() {
    let initialValues = {};
    
<%for( i=0; i<attributesArr.length; i++ ){-%>
    initialValues.<%- attributesArr[i][0] %> = null;
<%}-%>

    return initialValues;
  }

  function getInitialValueOkStates() {
    /*
      status codes:
        1: acceptable
        0: unknown/not tested yet (this is set on initial render)/empty
       -1: not acceptable 
    */
    let initialValueOkStates = {};

<%for( i=0; i<attributesArr.length; i++ ){-%>
    initialValueOkStates.<%- attributesArr[i][0] %> = 0;
<%}-%>

    return initialValueOkStates;
  }

  function areThereAcceptableFields() {
    let a = Object.entries(valueOkStates);
    for(var i=0; i<a.length; ++i) {
      if(a[i][1] === 1) {
        return true;
      }
    }
    return false;
  }

  function areThereNotAcceptableFields() {
    let a = Object.entries(valueOkStates);
    for(var i=0; i<a.length; ++i) {
      if(a[i][1] === -1) {
        return true;
      }
    }
    return false;
  }

  function areThereIncompleteFields() {
    let a = Object.entries(valueOkStates);
    for(var i=0; i<a.length; ++i) {
      if(a[i][1] === 0) {
        return true;
      }
    }
    return false;
  }

  function doSave(event) {
    //variables
    let keys = Object.keys(values.current);
    let variables = {};
    for(var i=0; i<keys.length; i++) {
      if(values.current[keys[i]] !== null && valuesOkRefs.current[keys[i]] === 1) {
        variables[keys[i]] = values.current[keys[i]];
      }
    }

    //addItems
<%for( i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    variables.add<%- sortedAssociations[i].targetModelPlCp %> = <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current;
<%}}-%>

    console.log("values: ", values.current);
    console.log("valuesOk: ", valueOkStates);

    /*
      API Request: createItem
    */
    api.<%- nameLc _%>.createItem(graphqlServerUrl, variables)
      .then(response => {
        //Check response
        if (
          response.data &&
          response.data.data
        ) {
          /**
            * Debug
            */
          console.log(">> mutation.add response: ", response.data.data);

          handleOk();
          return;

        } else {

          //error
          console.log("error3")

          //done
          return;
        }
      })
      .catch(err => {

        //error
        console.log("error4: ", err)

        //done
        return;
      });
    
    //close
    onClose(event);
  }

  const handleTabsChange = (event, newValue) => {
    setTabsValue(newValue);
  };

  const handleSetValue = (value, status, key) => {
    values.current[key] = value;
    valuesOkRefs.current[key] = status;
    setValueOkStates({...valuesOkRefs.current});
  }

  const handleSave = (event) => {
    if(areThereNotAcceptableFields()) {
      setConfirmationTitle("Some fields are not valid");
      setConfirmationText("To continue, please correct these fields.")
      setConfirmationAcceptText("");
      setConfirmationRejectText("I UNDERSTAND");
      handleAccept.current = () => {
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
      return;
    }

    if(areThereIncompleteFields()) {
      setConfirmationTitle("Some fields are empty");
      setConfirmationText("Do you want to continue anyway?")
      setConfirmationAcceptText("YES, SAVE");
      setConfirmationRejectText("DON'T SAVE YET");
      handleAccept.current = () => {
        doSave(event);
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
    } else {
      doSave(event);
    }
  }

  const handleCancel = (event) => {
    if(areThereAcceptableFields()) {
      setConfirmationTitle("The edited information has not been saved");
      setConfirmationText("Some fields have been edited, if you continue without save, the changes will be lost, you want to continue?")
      setConfirmationAcceptText("YES, EXIT");
      setConfirmationRejectText("STAY");
      handleAccept.current = () => {
        setConfirmationOpen(false);
        onClose(event);
      }
      handleReject.current = () => {
        setConfirmationOpen(false);
      }
        setConfirmationOpen(true);
        return;
    } else {
      onClose(event);
    }
  }

  const onClose = (event) => {
    setOpen(false);
    handleClose(event);
  }

  const handleConfirmationAccept = (event) => {
    handleAccept.current();
  }

  const handleConfirmationReject = (event) => {
    handleReject.current();
  }
  
  const handleTransferToAdd = (associationKey, itemId) => {
    switch(associationKey) {
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
      case '<%- sortedAssociations[i].targetModel _%>':
        <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.push(itemId);
        break;
<%}-%>

      default:
        break;
    }
  }

  const handleUntransferFromAdd =(associationKey, itemId) => {
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
    if(associationKey === '<%- sortedAssociations[i].targetModel _%>') {
      for(var i=0; i<<%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.length; ++i)
      {
        if(<%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current[i] === itemId) {
          <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.splice(i, 1);
          return;
        }
      }
      return;
    }//end: case '<%- sortedAssociations[i].targetModel _%>'
<%}-%>
  }

  return (
    
    <Dialog fullScreen open={open} onClose={handleCancel} TransitionComponent={Transition}>
      <AppBar className={classes.appBar}>
        <Toolbar>
          <Tooltip title={"Cancel"}>
            <IconButton 
              edge="start" 
              color="inherit" 
              onClick={handleCancel}
            >
              <CloseIcon />
            </IconButton>
          </Tooltip>
          <Typography variant="h6" className={classes.title}>
            {'New <%- nameCp _%>'}
          </Typography>
          <Tooltip title={"Save <%- nameLc _%>"}>
            <Fab 
              color="secondary" 
              className={classes.fabButton}
              onClick={handleSave}
            >
              <SaveIcon />
            </Fab>
          </Tooltip>
        </Toolbar>
      </AppBar>

      <div className={classes.root}>
        <Grid container justify='center'>
          <Grid item xs={12}>
            
            {/* TabsA: Menú */}
            <div className={classes.tabsA}>
            <<%- nameCp _%>TabsA
              value={tabsValue}
              handleChange={handleTabsChange}
              handleCancel={handleCancel}
              handleSave={handleSave}
            />
            </div>
              
            {/* Attributes Page [0] */}
            <<%- nameCp _%>AttributesPage
              hidden={tabsValue !== 0}
              valueOkStates={valueOkStates}
              handleSetValue={handleSetValue}
            />

            {/* Associations Page [1] */}
            <<%- nameCp _%>AssociationsPage
              hidden={tabsValue !== 1}
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
              <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd={<%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current}
<%}-%>
              handleTransferToAdd={handleTransferToAdd}
              handleUntransferFromAdd={handleUntransferFromAdd}
            />

          </Grid>
        </Grid>

        {/* Confirmation Dialog */}
        <<%- nameCp _%>ConfirmationDialog
          open={confirmationOpen}
          title={confirmationTitle}
          text={confirmationText}
          acceptText={confirmationAcceptText}
          rejectText={confirmationRejectText}
          handleAccept={handleConfirmationAccept}
          handleReject={handleConfirmationReject}
        />
      </div>

    </Dialog>
  );
}
<%- nameCp _%>CreatePanel.propTypes = {
  handleClose: PropTypes.func.isRequired,
  handleOk: PropTypes.func.isRequired,
};