import React, { useState, useRef, useEffect } from 'react';
import { useSelector } from 'react-redux';
import PropTypes from 'prop-types';
import moment from "moment";
import <%- nameCp _%>AttributesPage from './components/<%- nameLc _%>AttributesPage/<%- nameCp _%>AttributesPage'
import <%- nameCp _%>AssociationsPage from './components/<%- nameLc _%>AssociationsPage/<%- nameCp _%>AssociationsPage'
import <%- nameCp _%>TabsA from './components/<%- nameCp _%>TabsA'
import <%- nameCp _%>ConfirmationDialog from './components/<%- nameCp _%>ConfirmationDialog'
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
import <%- sortedAssociations[i].targetModelCp _%> DetailPanel from '../../../<%- sortedAssociations[i].targetModelLc _%>Table/components/<%- sortedAssociations[i].targetModelLc _%>DetailPanel/<%- sortedAssociations[i].targetModelCp _%>DetailPanel'
<%}-%>
import api from '../../../../../../../requests/index'
import { makeStyles } from '@material-ui/core/styles';
import Typography from '@material-ui/core/Typography';
import Grid from '@material-ui/core/Grid';
import Dialog from '@material-ui/core/Dialog';
import AppBar from '@material-ui/core/AppBar';
import Toolbar from '@material-ui/core/Toolbar';
import IconButton from '@material-ui/core/IconButton';
import CloseIcon from '@material-ui/icons/Close';
import Slide from '@material-ui/core/Slide';
import Fab from '@material-ui/core/Fab';
import Tooltip from '@material-ui/core/Tooltip';
import SaveIcon from '@material-ui/icons/Save';

const useStyles = makeStyles(theme => ({
  root: {
    marginTop: theme.spacing(3),
    minWidth: 450,
  },
  appBar: {
    position: 'relative',
  },
  title: {
    marginLeft: theme.spacing(2),
    flex: 1,
  },
  tabsA: {
    backgroundColor: "#fafafa",
  },
  fabButton: {
    position: 'absolute',
    zIndex: 1,
    bottom: -26+3,
    right: 10,
    margin: '0 auto',
  },
}));

const Transition = React.forwardRef(function Transition(props, ref) {
  return <Slide direction="up" ref={ref} {...props} />;
});

export default function <%- nameCp _%>UpdatePanel(props) {
  const classes = useStyles();

  const { 
    item,
    handleClose,
    handleOk,
  } = props;
  
  const [open, setOpen] = useState(true);
  const [tabsValue, setTabsValue] = useState(0);
  const [valueOkStates, setValueOkStates] = useState(getInitialValueOkStates());
  <%if(belongsTosArr.length > 0){-%>
  const [foreignKeys, setForeignKeys] = useState(getInitialForeignKeys());
  <%}-%>

  const [confirmationOpen, setConfirmationOpen] = useState(false);
  const [confirmationTitle, setConfirmationTitle] = useState('');
  const [confirmationText, setConfirmationText] = useState('');
  const [confirmationAcceptText, setConfirmationAcceptText] = useState('');
  const [confirmationRejectText, setConfirmationRejectText] = useState('');

  const handleAccept = useRef(undefined);
  const handleReject = useRef(undefined);
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
<%if(sortedAssociations[i].type === 'to_many'){-%>
  const <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd = useRef([]);
  const <%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove = useRef([]);
<%} else {-%>
  const <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd = useRef((item.<%- sortedAssociations[i].foreignKey %> !== null) ? [item.<%- sortedAssociations[i].foreignKey _%>] : []);
<%}}-%>
  const values = useRef(getInitialValues());
  const valuesOkRefs = useRef(getInitialValueOkStates());

<%for( i=0; i<sortedAssociations.length; i++ ){-%>
  const [<%- sortedAssociations[i].targetModelLc _%>DetailDialogOpen, set<%- sortedAssociations[i].targetModelCp _%>DetailDialogOpen] = useState(false);
  const [<%- sortedAssociations[i].targetModelLc _%>DetailItem, set<%- sortedAssociations[i].targetModelCp _%>DetailItem] = useState(undefined);
<%}-%>

  const graphqlServerUrl = useSelector(state => state.urls.graphqlServerUrl)

<%for( i=0; i<sortedAssociations.length; i++ ){-%>
  useEffect(() => {
    if (<%- sortedAssociations[i].targetModelLc _%>DetailItem !== undefined) {
      set<%- sortedAssociations[i].targetModelCp _%>DetailDialogOpen(true);
    }
  }, [<%- sortedAssociations[i].targetModelLc _%>DetailItem]);
<%}-%>

  function getInitialValues() {
    let initialValues = {};

<%for( i=0; i<attributesArr.length; i++ ){-%>
    initialValues.<%- attributesArr[i][0] %> = item.<%- attributesArr[i][0] _%>;
<%}-%>

    return initialValues;
  }

<%if(belongsTosArr.length > 0){-%>
  function getInitialForeignKeys() {
    let initialForeignKeys = {};
    
<%for( i=0; i<belongsTosArr.length; i++ ){-%>
    initialForeignKeys.<%- belongsTosArr[i].foreignKey %> = item.<%- belongsTosArr[i].foreignKey _%>;
<%}-%>

    return initialForeignKeys;
  }
<%}-%>

  function getInitialValueOkStates() {
    /*
      status codes:
        1: acceptable
        0: unknown/not tested yet (this is set on initial render)/empty
       -1: not acceptable 
    */
    let initialValueOkStates = {};

<%for( i=0; i<attributesArr.length; i++ ){-%>
    initialValueOkStates.<%- attributesArr[i][0] %> = (item.<%- attributesArr[i][0] _%>!==null ? 1 : 0);
<%}-%>

    return initialValueOkStates;
  }

  function areThereNotAcceptableFields() {
    let a = Object.entries(valueOkStates);
    for(var i=0; i<a.length; ++i) {
      if(a[i][1] === -1) {
        return true;
      }
    }
    return false;
  }

  function areThereIncompleteFields() {
    let a = Object.entries(valueOkStates);
    for(var i=0; i<a.length; ++i) {
      if(a[i][1] === 0) {
        return true;
      }
    }
    return false;
  }

  function areThereChangedFields() {
<%for( i=0; i<attributesArr.length; i++ ){-%>
<% if(attributesArr[i][1] === 'DateTime') {-%>
    if((values.current.<%- attributesArr[i][0] %> === null || item.<%- attributesArr[i][0] %> === null) && item.<%- attributesArr[i][0] %> !== values.current.<%- attributesArr[i][0] %>) { return true; }
    if(values.current.<%- attributesArr[i][0] %> !== null && item.<%- attributesArr[i][0] %> !== null && !moment(values.current.<%- attributesArr[i][0] %>).isSame(item.<%- attributesArr[i][0] %>)) { return true; }
<%} else if(attributesArr[i][1] === 'Time'){-%>
    if((values.current.<%- attributesArr[i][0] %> === null || item.<%- attributesArr[i][0] %> === null) && item.<%- attributesArr[i][0] %> !== values.current.<%- attributesArr[i][0] %>) { return true; }
    if(values.current.<%- attributesArr[i][0] %> !== null && item.<%- attributesArr[i][0] %> !== null && values.current.<%- attributesArr[i][0] %> !== moment(item.<%- attributesArr[i][0] %>, "HH:mm:ss.SSSZ").format("HH:mm:ss.SSSZ")) { return true; }
<%} else if(attributesArr[i][1] === 'Int'){-%>
    if(Number(values.current.<%- attributesArr[i][0] %>) !== Number(item.<%- attributesArr[i][0] %>)) { return true;}
<%} else {-%>
    if(values.current.<%- attributesArr[i][0] %> !== item.<%- attributesArr[i][0] %>) { return true;}
<%}-%>
<%}-%>
    return false;
  }

  function doSave(event) {
    //variables
    let keys = Object.keys(values.current);
    let variables = {};
    for(var i=0; i<keys.length; i++) {
      if(values.current[keys[i]] !== null && valuesOkRefs.current[keys[i]] === 1) {
        variables[keys[i]] = values.current[keys[i]];
      }
    }
    //id
    variables.id = item.id;

    //addItems
<%for( i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    variables.add<%- sortedAssociations[i].targetModelPlCp %> = <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current;
<%}}-%>

    //removeItems
<%for( i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    variables.remove<%- sortedAssociations[i].targetModelPlCp %> = <%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove.current;
<%}}-%>

    console.log("values: ", values.current);
    console.log("valuesOk: ", valueOkStates);

    /*
      API Request: updateItem
    */
    api.<%- nameLc _%>.updateItem(graphqlServerUrl, variables)
      .then(response => {
        if (
          response.data &&
          response.data.data
        ) {
          /**
            * Debug
            */
          console.log(">> mutation.update response: ", response.data.data);
          
          handleOk();
          return;

        } else {
          console.log("error3")
          return;
        }
      })
      .catch(err => {
        console.log("error4: ", err)
        return;
      });
    
    onClose(event);
  }

  const handleTabsChange = (event, newValue) => {
    setTabsValue(newValue);
  };

  const handleSetValue = (value, status, key) => {
    values.current[key] = value;
    valuesOkRefs.current[key] = status;
    setValueOkStates({...valuesOkRefs.current});
  }

  const handleSave = (event) => {
    if(areThereNotAcceptableFields()) {
      setConfirmationTitle("Some fields are not valid");
      setConfirmationText("To continue, please correct these fields.")
      setConfirmationAcceptText("");
      setConfirmationRejectText("I UNDERSTAND");
      handleAccept.current = () => {
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
      return;
    }

    if(areThereIncompleteFields()) {
      setConfirmationTitle("Some fields are empty");
      setConfirmationText("Do you want to continue anyway?")
      setConfirmationAcceptText("YES, SAVE");
      setConfirmationRejectText("DON'T SAVE YET");
      handleAccept.current = () => {
        doSave(event);
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
    } else {
      doSave(event);
    }
  }

  const handleCancel = (event) => {
    if(areThereChangedFields()) {
        setConfirmationTitle("The edited information has not been saved");
        setConfirmationText("Some fields have been edited, if you continue without save, the changes will be lost, you want to continue?")
        setConfirmationAcceptText("YES, EXIT");
        setConfirmationRejectText("STAY");
        handleAccept.current = () => {
          setConfirmationOpen(false);
          onClose(event);
        }
        handleReject.current = () => {
          setConfirmationOpen(false);
        }
        setConfirmationOpen(true);
        return;
    } else {
      onClose(event);
    }
  }

  const onClose = (event) => {
    setOpen(false);
    handleClose(event);
  }

  const handleConfirmationAccept = (event) => {
    handleAccept.current();
  }

  const handleConfirmationReject = (event) => {
    handleReject.current();
  }

  const handleTransferToAdd = (associationKey, itemId) => {
    switch(associationKey) {
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
      case '<%- sortedAssociations[i].targetModel _%>':
<%if(sortedAssociations[i].type === 'to_one'){-%>
        <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current = [];
        <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.push(itemId);
        handleSetValue(itemId, 1, '<%- sortedAssociations[i].foreignKey _%>');
        setForeignKeys({...foreignKeys, <%- sortedAssociations[i].foreignKey _%>: itemId});
<%} else {-%>
        <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.push(itemId);
<%}-%>
        break;
<%}-%>

      default:
        break;
    }
  }

  const handleUntransferFromAdd =(associationKey, itemId) => {
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
    if(associationKey === '<%- sortedAssociations[i].targetModel _%>') {
<%if(sortedAssociations[i].type === 'to_one'){-%>
      <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current = [];
      handleSetValue(null, 0, '<%- sortedAssociations[i].foreignKey _%>');
      setForeignKeys({...foreignKeys, <%- sortedAssociations[i].foreignKey _%>: null});
<%} else {-%>
      for(var i=0; i<<%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.length; ++i)
      {
        if(<%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current[i] === itemId) {
          <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current.splice(i, 1);
          return;
        }
      }
<%}-%>
      return;
    }//end: case '<%- sortedAssociations[i].targetModel _%>'
<%}-%>
  }

<%if(hasManysArr.length > 0) {-%>

  const handleTransferToRemove = (associationKey, itemId) => {
    switch(associationKey) {
<%for( i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
      case '<%- sortedAssociations[i].targetModel _%>':
        <%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove.current.push(itemId);
        break;
<%}}-%>

      default:
        break;
    }
  }

  const handleUntransferFromRemove =(associationKey, itemId) => {
<%for( i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    if(associationKey === '<%- sortedAssociations[i].targetModel _%>') {
      for(var i=0; i<<%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove.current.length; ++i)
      {
        if(<%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove.current[i] === itemId) {
          <%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove.current.splice(i, 1);
          return;
        }
      }
      return;
    }//end: case '<%- sortedAssociations[i].targetModel _%>'
<%}}-%>
  }
<%}-%>

<%for( i=0; i<sortedAssociations.length; i++ ){-%>
  const handleClickOn<%- sortedAssociations[i].targetModelCp _%>Row = (event, item) => {
    set<%- sortedAssociations[i].targetModelCp _%>DetailItem(item);
  };

  const handle<%- sortedAssociations[i].targetModelCp _%>DetailDialogClose = (event) => {
    delayedClose<%- sortedAssociations[i].targetModelCp _%>DetailPanel(event, 500);
  }

  const delayedClose<%- sortedAssociations[i].targetModelCp _%>DetailPanel = async (event, ms) => {
    await new Promise(resolve => {
      window.setTimeout(function() {
        set<%- sortedAssociations[i].targetModelCp _%>DetailDialogOpen(false);
        set<%- sortedAssociations[i].targetModelCp _%>DetailItem(undefined);
        resolve("ok");
      }, ms);
    });
  };

<%}-%>


  return (
    <Dialog fullScreen open={open} onClose={handleCancel} TransitionComponent={Transition}>
      <AppBar className={classes.appBar}>
        <Toolbar>
          <Tooltip title={"Cancel"}>
            <IconButton 
              edge="start" 
              color="inherit" 
              onClick={handleCancel}
            >
              <CloseIcon />
            </IconButton>
          </Tooltip>
          <Typography variant="h6" className={classes.title}>
            {'Editing <%- nameCp _%>'}
          </Typography>
          <Tooltip title={"Save <%- nameLc _%>"}>
            <Fab 
              color="secondary" 
              className={classes.fabButton}
              onClick={handleSave}
            >
              <SaveIcon />
            </Fab>
          </Tooltip>
        </Toolbar>
      </AppBar>

      <div className={classes.root}>
        <Grid container justify='center'>
          <Grid item xs={12}>
            
            {/* TabsA: Menú */}
            <div className={classes.tabsA}>
            <<%- nameCp _%>TabsA
              value={tabsValue}
              handleChange={handleTabsChange}
              handleCancel={handleCancel}
              handleSave={handleSave}
            />
            </div>
              
            {/* Attributes Page [0] */}
            <<%- nameCp _%>AttributesPage
              hidden={tabsValue !== 0}
              item={item}
              valueOkStates={valueOkStates}
<%if(belongsTosArr.length > 0){-%>
              foreignKeys = {foreignKeys}
<%}-%>
              handleSetValue={handleSetValue}
            />

            {/* Associations Page [1] */}
            <<%- nameCp _%>AssociationsPage
              hidden={tabsValue !== 1}
              item={item}
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
              <%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd={<%- sortedAssociations[i].targetModelPlLc _%>IdsToAdd.current}
<%if(sortedAssociations[i].type === 'to_many'){-%>
              <%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove={<%- sortedAssociations[i].targetModelPlLc _%>IdsToRemove.current}
<%}}-%>
              handleTransferToAdd={handleTransferToAdd}
              handleUntransferFromAdd={handleUntransferFromAdd}
<%if(hasManysArr.length > 0) {-%>
              handleTransferToRemove={handleTransferToRemove}
              handleUntransferFromRemove={handleUntransferFromRemove}
<%}-%>
<%for( i=0; i<sortedAssociations.length; i++ ){-%>
              handleClickOn<%- sortedAssociations[i].targetModelCp _%>Row={handleClickOn<%- sortedAssociations[i].targetModelCp _%>Row}
<%}-%>
            />

          </Grid>
        </Grid>

        {/* Confirmation Dialog */}
        <<%- nameCp _%>ConfirmationDialog
          open={confirmationOpen}
          title={confirmationTitle}
          text={confirmationText}
          acceptText={confirmationAcceptText}
          rejectText={confirmationRejectText}
          handleAccept={handleConfirmationAccept}
          handleReject={handleConfirmationReject}
        />

<%for( i=0; i<sortedAssociations.length; i++ ){-%>
        {/* Dialog: <%- sortedAssociations[i].targetModelCp %> Detail Panel */}
        {(<%- sortedAssociations[i].targetModelLc _%>DetailDialogOpen) && (
          <<%- sortedAssociations[i].targetModelCp _%>DetailPanel
            item={<%- sortedAssociations[i].targetModelLc _%>DetailItem}
            dialog={true}
            handleClose={handle<%- sortedAssociations[i].targetModelCp _%>DetailDialogClose}
          />
        )}
<%}-%>
      </div>

    </Dialog>
  );
}
<%- nameCp _%>UpdatePanel.propTypes = {
  item: PropTypes.object.isRequired,
  handleClose: PropTypes.func.isRequired,
  handleOk: PropTypes.func.isRequired,
};
