import React, { useState, useRef, useEffect } from 'react';
import { useSelector } from 'react-redux';
import PropTypes from 'prop-types';
import { useTranslation } from 'react-i18next';
import { useSnackbar } from 'notistack';
import <%- nameCp _%>AttributesPage from './components/<%- nameLc _%>-attributes-page/<%- nameCp _%>AttributesPage'
import <%- nameCp _%>AssociationsPage from './components/<%- nameLc _%>-associations-page/<%- nameCp _%>AssociationsPage'
import <%- nameCp _%>TabsA from './components/<%- nameCp _%>TabsA'
import <%- nameCp _%>ConfirmationDialog from './components/<%- nameCp _%>ConfirmationDialog'
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
import <%- sortedAssociatedModels[i].targetModelCp _%> DetailPanel from '../../../<%- sortedAssociatedModels[i].targetModelLc _%>-table/components/<%- sortedAssociatedModels[i].targetModelLc _%>-detail-panel/<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel'
<%}-%>
import api from '../../../../../../../requests/requests.index.js'
import { makeCancelable } from '../../../../../../../utils'
import { makeStyles } from '@material-ui/core/styles';
import CssBaseline from '@material-ui/core/CssBaseline';
import Typography from '@material-ui/core/Typography';
import Grid from '@material-ui/core/Grid';
import Dialog from '@material-ui/core/Dialog';
import AppBar from '@material-ui/core/AppBar';
import Toolbar from '@material-ui/core/Toolbar';
import Button from '@material-ui/core/Button';
import IconButton from '@material-ui/core/IconButton';
import CloseIcon from '@material-ui/icons/Close';
import Slide from '@material-ui/core/Slide';
import Fab from '@material-ui/core/Fab';
import Tooltip from '@material-ui/core/Tooltip';
import SaveIcon from '@material-ui/icons/Save';

const debounceTimeout = 500;

const useStyles = makeStyles(theme => ({
  root: {
    minWidth: 450,
  },
  title: {
    marginLeft: theme.spacing(2),
    flex: 1,
  },
  tabsA: {
    backgroundColor: "#ffffff",
  },
  fabButton: {
    position: 'absolute',
    zIndex: 1,
    bottom: -26+3,
    right: 10,
    margin: '0 auto',
  },
  notiErrorActionText: {
    color: '#eba0a0',
  },
}));

const Transition = React.forwardRef(function Transition(props, ref) {
  return <Slide direction="up" ref={ref} {...props} />;
});

export default function <%- nameCp _%>CreatePanel(props) {
  const classes = useStyles();
  const { t } = useTranslation();
  const { enqueueSnackbar, closeSnackbar } = useSnackbar();
  const {
    permissions,
    handleClose,
  } = props;

  const [open, setOpen] = useState(true);
  const [tabsValue, setTabsValue] = useState(0);
  const [valueOkStates, setValueOkStates] = useState(getInitialValueOkStates());
<%if(hasOwnForeingKeys){-%>
  const [foreignKeys, setForeignKeys] = useState({});
<%}-%>

  const [confirmationOpen, setConfirmationOpen] = useState(false);
  const [confirmationTitle, setConfirmationTitle] = useState('');
  const [confirmationText, setConfirmationText] = useState('');
  const [confirmationAcceptText, setConfirmationAcceptText] = useState('');
  const [confirmationRejectText, setConfirmationRejectText] = useState('');

  const handleAccept = useRef(undefined);
  const handleReject = useRef(undefined);

  const values = useRef(getInitialValues());
  const valuesOkRefs = useRef(getInitialValueOkStates());

<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
  const [<%- sortedAssociations[i].relationNameLc _%>IdsToAddState, set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState] = useState([]);
  const <%- sortedAssociations[i].relationNameLc _%>IdsToAdd = useRef([]);
<%}-%>

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  const [<%- sortedAssociatedModels[i].targetModelLc _%>DetailDialogOpen, set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen] = useState(false);
  const [<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem, set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem] = useState(undefined);
<%}-%>

  //debouncing & event contention
  const cancelablePromises = useRef([]);
  const isSaving = useRef(false);
  const isCanceling = useRef(false);
  const isDebouncingTabsChange = useRef(false);
  const currentTabValue = useRef(tabsValue);
  const lastTabValue = useRef(tabsValue);

  const graphqlServerUrl = useSelector(state => state.urls.graphqlServerUrl);

  const actionText = useRef(null);
  const action = (key) => (
    <>
      <Button color='inherit' variant='text' size='small' className={classes.notiErrorActionText} onClick={() => { closeSnackbar(key) }}>
        {actionText.current}
      </Button>
    </> 
  );

  useEffect(() => {

    //cleanup on unmounted.
    return function cleanup() {
      cancelablePromises.current.forEach(p => p.cancel());
      cancelablePromises.current = [];
    };
  }, []);

  useEffect(() => {
    //sync
    currentTabValue.current = tabsValue;
    if(lastTabValue.current !== tabsValue){
      setTabsValue(lastTabValue.current);
    }
  }, [tabsValue]);
  
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  useEffect(() => {
    if (<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem !== undefined) {
      set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen(true);
    }
  }, [<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem]);

<%}-%>

  function getInitialValues() {
    let initialValues = {};
    
<%for( let i=0; i<attributesArr.length; i++ ){-%>
    initialValues.<%- attributesArr[i][0] %> = null;
<%}-%>

    return initialValues;
  }

  function getInitialValueOkStates() {
    /*
      status codes:
        1: acceptable
        0: unknown/not tested yet (this is set on initial render)/empty
       -1: not acceptable 
    */
    let initialValueOkStates = {};

<%for( let i=0; i<attributesArr.length; i++ ){-%>
    initialValueOkStates.<%- attributesArr[i][0] %> = 0;
<%}-%>

    return initialValueOkStates;
  }

  function areThereAcceptableFields() {
    let a = Object.entries(valueOkStates);
    for(let i=0; i<a.length; ++i) {
      if(a[i][1] === 1) {
        return true;
      }
    }
    return false;
  }

  function areThereNotAcceptableFields() {
    let a = Object.entries(valueOkStates);
    for(let i=0; i<a.length; ++i) {
      if(a[i][1] === -1) {
        return true;
      }
    }
    return false;
  }

  function areThereIncompleteFields() {
    let a = Object.entries(valueOkStates);
    for(let i=0; i<a.length; ++i) {
      if(a[i][1] === 0) {
        return true;
      }
    }
    return false;
  }

<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_one") {
-%>
  function setAdd<%- sortedAssociations[i].relationNameCp %>(variables) {
    if(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.length>0) {
      //case: has new id to add
      variables.add<%- sortedAssociations[i].relationNameCp %> = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current[0];
    } else {
      variables.add<%- sortedAssociations[i].relationNameCp %> = undefined;
    }
  }
<%}}-%>

  function doSave(event) {
    /*
      Variables setup
    */
    //variables
    let keys = Object.keys(values.current);
    let variables = {};

    //attributes
    for(let i=0; i<keys.length; i++) {
      if(valuesOkRefs.current[keys[i]] !== -1) {
        variables[keys[i]] = values.current[keys[i]];
      }
    }

    //add: to_one's
<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_one") {
-%>
    setAdd<%- sortedAssociations[i].relationNameCp %>(variables);
<%}}-%>
    
    //add: to_many's
<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    variables.add<%- sortedAssociations[i].relationNameCp %> = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current;
<%}}-%>

    /*
      API Request: createItem
    */
    let cancelableApiReq = makeCancelable(api.<%- nameLc _%>.createItem(graphqlServerUrl, variables));
    cancelablePromises.current.push(cancelableApiReq);
    cancelableApiReq
      .promise
      .then(response => {
        //delete from cancelables
        cancelablePromises.current.splice(cancelablePromises.current.indexOf(cancelableApiReq), 1);
        //check response
        if (
          response.data &&
          response.data.data
        ) {
          //notify graphql errors
          if(response.data.errors) {
            actionText.current = t('modelPanels.gotIt', "Got it");
            enqueueSnackbar( t('modelPanels.errors.e3', "The GraphQL query returned a response with errors. Please contact your administrator."), {
              variant: 'error',
              preventDuplicate: false,
              persist: true,
              action,
            });
            console.log("Errors: ", response.data.errors);
          } else {

            //ok
            enqueueSnackbar( t('modelPanels.messages.msg6', "Record created successfully."), {
              variant: 'success',
              preventDuplicate: false,
              persist: false,
              anchorOrigin: {
                vertical: 'bottom',
                horizontal: 'left',
              },
            });
            onClose(event, true, response.data.data.add<%- nameCp %>);
          }
          return;

        } else { //error: bad response on createItem()
          actionText.current = t('modelPanels.gotIt', "Got it");
          enqueueSnackbar( t('modelPanels.errors.e2', "An error ocurred while trying to execute the GraphQL query, cannot process server response. Please contact your administrator."), {
            variant: 'error',
            preventDuplicate: false,
            persist: true,
            action,
          });
          console.log("Error: ", t('modelPanels.errors.e2', "An error ocurred while trying to execute the GraphQL query, cannot process server response. Please contact your administrator."));
          return;
        }
      })
      .catch(({isCanceled, ...err}) => { //error: on createItem()
        if(isCanceled) {
          return;
        } else {
          actionText.current = t('modelPanels.gotIt', "Got it");
          enqueueSnackbar( t('modelPanels.errors.e1', "An error occurred while trying to execute the GraphQL query. Please contact your administrator."), {
            variant: 'error',
            preventDuplicate: false,
            persist: true,
            action,
          });
          console.log("Error: ", err);
          return;
        }
      });
  }

  const handleTabsChange = (event, newValue) => {
    //save last value
    lastTabValue.current = newValue;

    if(!isDebouncingTabsChange.current){
      //save last value
      lastTabValue.current = newValue;
      currentTabValue.current = newValue;
      setTabsValue(newValue);
      //debounce
      isDebouncingTabsChange.current = true;
      let cancelableTimer = startTimerToDebounceTabsChange();
      cancelablePromises.current.push(cancelableTimer);
      cancelableTimer
        .promise
        .then(() => {
          //delete from cancelables
          cancelablePromises.current.splice(cancelablePromises.current.indexOf(cancelableTimer), 1);
          //clear flag
          isDebouncingTabsChange.current = false;
          //check
          if(lastTabValue.current !== currentTabValue.current){
            setTabsValue(lastTabValue.current);
            currentTabValue.current = lastTabValue.current;
          }
        })
        .catch(() => {
          return;
        })
    } else{

    }
  };

  const handleSetValue = (value, status, key) => {
    values.current[key] = value;
    if(status !== valuesOkRefs.current[key]) {
      valuesOkRefs.current[key] = status;
      setValueOkStates({...valuesOkRefs.current});
    }
  }

  const handleSave = (event) => {
    if(areThereNotAcceptableFields()) {
      setConfirmationTitle( t('modelPanels.invalidFields', "Some fields are not valid") );
      setConfirmationText( t('modelPanels.invalidFieldsB', "To continue, please correct these fields.") );
      setConfirmationAcceptText("");
      setConfirmationRejectText( t('modelPanels.updateAccept', "I UNDERSTAND"));
      handleAccept.current = () => {
        isSaving.current = false;
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        isSaving.current = false;
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
      return;
    }

    if(areThereIncompleteFields()) {
      setConfirmationTitle( t('modelPanels.incompleteFields', "Some fields are empty") );
      setConfirmationText( t('modelPanels.incompleteFieldsB', "Do you want to continue anyway?") );
      setConfirmationAcceptText( t('modelPanels.saveIncompleteAccept', "YES, SAVE") );
      setConfirmationRejectText( t('modelPanels.saveIncompleteReject', "DON'T SAVE YET") );
      handleAccept.current = () => {
        doSave(event);
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        isSaving.current = false;
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
    } else {
      doSave(event);
    }
  }

  const handleCancel = (event) => {
    if(areThereAcceptableFields()) {
      setConfirmationTitle( t('modelPanels.cancelChanges', "The edited information has not been saved") );
      setConfirmationText( t('modelPanels.cancelChangesB', "Some fields have been edited, if you continue without save, the changes will be lost, you want to continue?") );
      setConfirmationAcceptText( t('modelPanels.cancelChangesAccept', "YES, EXIT") );
      setConfirmationRejectText( t('modelPanels.cancelChangesReject', "STAY") );
      handleAccept.current = () => {
        setConfirmationOpen(false);
        onClose(event, false, null);
      }
      handleReject.current = () => {
        isCanceling.current = false;
        setConfirmationOpen(false);
      }
        setConfirmationOpen(true);
        return;
    } else {
      onClose(event, false, null);
    }
  }

  const onClose = (event, status, newItem) => {
    setOpen(false);
    handleClose(event, status, newItem);
  }

  const handleConfirmationAccept = (event) => {
    handleAccept.current();
  }

  const handleConfirmationReject = (event) => {
    handleReject.current();
  }
  
  const handleTransferToAdd = (associationKey, itemId) => {
    switch(associationKey) {
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
      case '<%- sortedAssociations[i].relationName _%>':
<%if((sortedAssociations[i].sqlType === 'belongsTo') && (sortedAssociations[i].foreignKey)){-%>
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
        handleSetValue(itemId, 1, '<%- sortedAssociations[i].foreignKey _%>');
        setForeignKeys({...foreignKeys, <%- sortedAssociations[i].foreignKey _%>: itemId});
<%} else if((sortedAssociations[i].sqlType === 'hasOne')){-%>
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
<%} else {-%>
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
<%}-%>
        break;
<%}-%>

      default:
        break;
    }
  }

  const handleUntransferFromAdd =(associationKey, itemId) => {
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
    if(associationKey === '<%- sortedAssociations[i].relationName _%>') {
<%if((sortedAssociations[i].sqlType === 'belongsTo') && (sortedAssociations[i].foreignKey)){-%>
      <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
      set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState([]);
      handleSetValue(null, 0, '<%- sortedAssociations[i].foreignKey _%>');
      setForeignKeys({...foreignKeys, <%- sortedAssociations[i].foreignKey _%>: null});
<%} else if((sortedAssociations[i].sqlType === 'hasOne')){-%>
      <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
      set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState([]);
<%} else {-%>
      for(let i=0; i<<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.length; ++i)
      {
        if(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current[i] === itemId) {
          <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.splice(i, 1);
          set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
          return;
        }
      }
<%}-%>
      return;
    }//end: case '<%- sortedAssociations[i].relationName _%>'
<%}-%>
  }

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  const handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row = (event, item) => {
    set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem(item);
  };

  const handle<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogClose = (event) => {
    delayedClose<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel(event, 500);
  }

  const delayedClose<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel = async (event, ms) => {
    await new Promise(resolve => {
      window.setTimeout(function() {
        set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen(false);
        set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem(undefined);
        resolve("ok");
      }, ms);
    });
  };
<%}-%>

  const startTimerToDebounceTabsChange = () => {
    return makeCancelable( new Promise(resolve => {
      window.setTimeout(function() { 
        resolve(); 
      }, debounceTimeout*5);
    }));
  };

  return (
    
    <Dialog fullScreen open={open} onClose={handleCancel} TransitionComponent={Transition}>
      <CssBaseline />
      <AppBar>
        <Toolbar>
          <Tooltip title={ t('modelPanels.cancel') }>
            <IconButton 
              edge="start" 
              color="inherit" 
              onClick={handleCancel}
              onClick={(event) => {
                if(!isCanceling.current){
                  isCanceling.current = true;
                  handleCancel(event);
                }
              }}
            >
              <CloseIcon />
            </IconButton>
          </Tooltip>
          <Typography variant="h6" className={classes.title}>
            {t('modelPanels.new') + ' <%- nameCp _%>'}
          </Typography>
          <Tooltip title={ t('modelPanels.save') + " <%- nameLc _%>" }>
            <Fab 
              color="secondary" 
              className={classes.fabButton}
              onClick={(event) => {
                if(!isSaving.current){
                  isSaving.current = true;
                  handleSave(event);
                }
              }}
            >
              <SaveIcon />
            </Fab>
          </Tooltip>
        </Toolbar>
      </AppBar>
      <Toolbar />

      <div className={classes.root}>
        <Grid container justify='center' alignItems='flex-start' alignContent='flex-start'>
          <Grid item xs={12}>  
            {/* TabsA: Menú */}
            <div className={classes.tabsA}>
              <<%- nameCp _%>TabsA
                value={tabsValue}
                handleChange={handleTabsChange}
              />
            </div>
          </Grid>

          <Grid item xs={12}>
            {/* Attributes Page [0] */}
            <<%- nameCp _%>AttributesPage
              hidden={tabsValue !== 0}
              valueOkStates={valueOkStates}
<%if(hasOwnForeingKeys){-%>
              foreignKeys = {foreignKeys}
<%}-%>
              handleSetValue={handleSetValue}
            />
          </Grid>

          <Grid item xs={12}>
            {/* Associations Page [1] */}
            <<%- nameCp _%>AssociationsPage
              hidden={tabsValue !== 1}
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
              <%- sortedAssociations[i].relationNameLc _%>IdsToAdd={<%- sortedAssociations[i].relationNameLc _%>IdsToAddState}
<%}-%>
              handleTransferToAdd={handleTransferToAdd}
              handleUntransferFromAdd={handleUntransferFromAdd}
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
              handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row={handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row}
<%}-%>
            />
          </Grid>
        </Grid>

        {/* Confirmation Dialog */}
        <<%- nameCp _%>ConfirmationDialog
          open={confirmationOpen}
          title={confirmationTitle}
          text={confirmationText}
          acceptText={confirmationAcceptText}
          rejectText={confirmationRejectText}
          handleAccept={handleConfirmationAccept}
          handleReject={handleConfirmationReject}
        />

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
        {/* Dialog: <%- sortedAssociatedModels[i].targetModelCp %> Detail Panel */}
        {(<%- sortedAssociatedModels[i].targetModelLc _%>DetailDialogOpen) && (
          <<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel
            permissions={permissions}
            item={<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem}
            dialog={true}
            handleClose={handle<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogClose}
          />
        )}
<%}-%>
      </div>

    </Dialog>
  );
}
<%- nameCp _%>CreatePanel.propTypes = {
  permissions: PropTypes.object,
  handleClose: PropTypes.func.isRequired,
};