<template>
  <div @click="onClick">

    <v-card flat color="#FFFFFF">
    
      <v-card-title>ID</v-card-title>
      <v-card-text>{{rowData.id}}</v-card-text>

      <% for ( i=0; i<attributesArr.length; i++ ) { -%>
          <v-card-title><%- attributesArr[i][0] -%></v-card-title>
          <v-card-text>{{rowData.<%- attributesArr[i][0] -%>}}</v-card-text>
      <% } -%>

  <% for ( i=0; i<belongsTosArr.length; i++ ) { -%>
    <% var bt = belongsTosArr[i] -%>

    <div id="<%- nameLc -%>-<%- bt.targetModelLc -%>-div">
      <div class="inline field">
        <label><%- bt.relationName -%>:</label>
        <span>{{<%- bt.relationName -%>InitialLabel}}</span>
      </div>
    </div>
  <% } -%>

  <% for ( i=0; i<hasManysArr.length; i++ ) { -%>
    <% var rel = hasManysArr[i] -%>

    <div id="<%- nameLc -%>-<%- rel.relationName -%>-div" class="row w-100">
      <div class="col">
        
        <v-card-title><%- rel.relationName -%>:</v-card-title>
        
        <scroll-list class="list-group"
          :url="this.$baseUrl()"
          :idSelected="rowData.id"
          :countQuery="rowData.countFiltered<%-rel.relationNameCp-%>"
          v-bind:queryOne="<%-rel.relationName-%>Subquery"
          queryOneName="readOne<%-nameCp-%>"
          subQueryName="<%-rel.relationName-%>Filter"
          label="<%-rel.label-%>"
          subLabel=<%if(rel.sublabel){%>"<%-rel.sublabel-%>"<%}else{-%>""<%}%>
        > </scroll-list>
      </div>
    </div>

  </v-card>
<%}-%>

  </div>
</template>

<script>
import Vue from 'vue'
import scrollListElement from './scrollListElement.vue'
import Queries from '../requests/index'

Vue.component('scroll-list', scrollListElement)

export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  computed: {
    <% for ( i=0; i<hasManysArr.length; i++ ) { -%>
      <% var rel = hasManysArr[i] -%>
      <%-rel.relationName-%>Subquery : function(){
        return Queries.<%-nameCp-%>.getOne("<%-rel.relationName-%>Filter","<%-rel.label-%>",<%if(rel.sublabel){%>"<%-rel.sublabel-%>"<%}else{-%>""<%}%>);
      }
      <% if (i < (hasManysArr.length - 1) || belongsTosArr.length>0) { -%>
      ,
      <% } -%>
    <%}-%>

  <% for ( i=0; i<belongsTosArr.length; i++ ) { -%>
    <% var bt = belongsTosArr[i] -%>
    <%- bt.relationName -%>InitialLabel: function () {
      var x = this.rowData.<%- bt.relationName %>
      if (x !== null && typeof x === 'object' &&
          x['<%- bt.label -%>'] !== null &&
          typeof x['<%- bt.label -%>'] !== 'undefined') {
        return x['<%- bt.label -%>']
      } else {
        return ''
      }
    }
    <% if (i < (belongsTosArr.length - 1)) { -%>
    ,
    <% } -%>
  <% } -%>
  },
  methods: {
    onClick (event) {
      console.log('my-detail-row: on-click', event.target)
    }
  }
}
</script>
