import React, { useState, useRef, useEffect } from 'react';
import { useSelector } from 'react-redux';
import { useSnackbar } from 'notistack';
import PropTypes from 'prop-types';
<%if(typeAttributes.hasOwnProperty('Date') || typeAttributes.hasOwnProperty('Time') || typeAttributes.hasOwnProperty('DateTime')) {-%>
  import moment from "moment";
<%}-%>
import { useTranslation } from 'react-i18next';
import <%- nameOnPascal _%>AttributesPage from './components/<%- nameLc _%>-attributes-page/<%- nameCp _%>AttributesPage'
import <%- nameOnPascal _%>AssociationsPage from './components/<%- nameLc _%>-associations-page/<%- nameCp _%>AssociationsPage'
import <%- nameOnPascal _%>TabsA from './components/<%- nameCp _%>TabsA'
import <%- nameOnPascal _%>ConfirmationDialog from './components/<%- nameCp _%>ConfirmationDialog'
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
import <%- sortedAssociatedModels[i].targetModelOnPascal _%> DetailPanel from '../../../<%- sortedAssociatedModels[i].targetModelLc _%>-table/components/<%- sortedAssociatedModels[i].targetModelLc _%>-detail-panel/<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel'
<%}-%>
import api from '../../../../../../../requests/requests.index.js'
import { makeCancelable } from '../../../../../../../utils'
import { makeStyles } from '@material-ui/core/styles';
import Typography from '@material-ui/core/Typography';
import Grid from '@material-ui/core/Grid';
import Box from '@material-ui/core/Box';
import Dialog from '@material-ui/core/Dialog';
import AppBar from '@material-ui/core/AppBar';
import Toolbar from '@material-ui/core/Toolbar';
import Card from '@material-ui/core/Card';
import CardHeader from '@material-ui/core/CardHeader';
import Button from '@material-ui/core/Button';
import IconButton from '@material-ui/core/IconButton';
import CloseIcon from '@material-ui/icons/Close';
import Slide from '@material-ui/core/Slide';
import Collapse from '@material-ui/core/Collapse';
import Fab from '@material-ui/core/Fab';
import Tooltip from '@material-ui/core/Tooltip';
import SaveIcon from '@material-ui/icons/Save';
import DeletedWarning from '@material-ui/icons/DeleteForeverOutlined';
import UpdateWarning from '@material-ui/icons/ErrorOutline';
import { amber, red } from '@material-ui/core/colors';

const debounceTimeout = 700;
const appBarHeight = 64;

const useStyles = makeStyles(theme => ({
  root: {
    minWidth: 450,
  },
  title: {
    marginLeft: theme.spacing(2),
    flex: 1,
  },
  warningCard: {
    width: '100%',
    minHeight: 130,
  },
  tabsA: {
    backgroundColor: "#ffffff",
  },
  fabButton: {
    position: 'absolute',
    zIndex: 1,
    bottom: -26+3,
    right: 10,
    margin: '0 auto',
  },
  notiErrorActionText: {
    color: '#eba0a0',
  },
}));

const Transition = React.forwardRef(function Transition(props, ref) {
  return <Slide direction="up" ref={ref} {...props} />;
});

export default function <%- nameOnPascal _%>UpdatePanel(props) {
  const classes = useStyles();
  const { t } = useTranslation();
  const { enqueueSnackbar, closeSnackbar } = useSnackbar();

  const {
<%if(sortedAssociatedModels.length>0){-%>
    permissions,
<%}-%> 
    item,
    handleClose,
  } = props;
  
  const [open, setOpen] = useState(true);
  const [tabsValue, setTabsValue] = useState(0);
  const [valueOkStates, setValueOkStates] = useState(getInitialValueOkStates());
  const lastFetchTime = useRef(Date.now());
  <%if(hasOwnForeingKeys){-%>
  const [foreignKeys, setForeignKeys] = useState(getInitialForeignKeys());
  <%}-%>

  const [updated, setUpdated] = useState(false);
  const [deleted, setDeleted] = useState(false);

  const [confirmationOpen, setConfirmationOpen] = useState(false);
  const [confirmationTitle, setConfirmationTitle] = useState('');
  const [confirmationText, setConfirmationText] = useState('');
  const [confirmationAcceptText, setConfirmationAcceptText] = useState('');
  const [confirmationRejectText, setConfirmationRejectText] = useState('');

  const handleAccept = useRef(undefined);
  const handleReject = useRef(undefined);

  const values = useRef(getInitialValues());
  const valuesOkRefs = useRef(getInitialValueOkStates());
  const changedAssociations = useRef({});
  
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
<%if(sortedAssociations[i].type === 'to_one'){-%>
  const <%- sortedAssociations[i].relationNameLc _%>IdsToAdd = useRef((item.<%- sortedAssociations[i].relationName _%> && item.<%- sortedAssociations[i].relationName _%>.<%- sortedAssociations[i].internalId _%>) ? [item.<%- sortedAssociations[i].relationName _%>.<%- sortedAssociations[i].internalId _%>] : []);
  const [<%- sortedAssociations[i].relationNameLc _%>IdsToAddState, set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState] = useState((item.<%- sortedAssociations[i].relationName _%> && item.<%- sortedAssociations[i].relationName _%>.<%- sortedAssociations[i].internalId _%>) ? [item.<%- sortedAssociations[i].relationName _%>.<%- sortedAssociations[i].internalId _%>] : []);
<%} else {-%>
  const [<%- sortedAssociations[i].relationNameLc _%>IdsToAddState, set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState] = useState([]);
  const <%- sortedAssociations[i].relationNameLc _%>IdsToAdd = useRef([]);
  const [<%- sortedAssociations[i].relationNameLc _%>IdsToRemoveState, set<%- sortedAssociations[i].relationNameCp _%>IdsToRemoveState] = useState([]);
  const <%- sortedAssociations[i].relationNameLc _%>IdsToRemove = useRef([]);
<%}}-%>

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  const [<%- sortedAssociatedModels[i].targetModelLc _%>DetailDialogOpen, set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen] = useState(false);
  const [<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem, set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem] = useState(undefined);
<%}-%>

  //debouncing & event contention
  const cancelablePromises = useRef([]);
  const isSaving = useRef(false);
  const isCanceling = useRef(false);
  const isClosing = useRef(false);
  const isDebouncingTabsChange = useRef(false);
  const currentTabValue = useRef(tabsValue);
  const lastTabValue = useRef(tabsValue);

  const graphqlServerUrl = useSelector(state => state.urls.graphqlServerUrl)
  const lastModelChanged = useSelector(state => state.changes.lastModelChanged);
  const lastChangeTimestamp = useSelector(state => state.changes.lastChangeTimestamp);

  const actionText = useRef(null);
  const action = (key) => (
    <>
      <Button color='inherit' variant='text' size='small' className={classes.notiErrorActionText} onClick={() => { closeSnackbar(key) }}>
        {actionText.current}
      </Button>
    </> 
  );

  useEffect(() => {

    //cleanup on unmounted.
    return function cleanup() {
      cancelablePromises.current.forEach(p => p.cancel());
      cancelablePromises.current = [];
    };
  }, []);

  useEffect(() => {
    /*
     * Handle changes 
     */
    
    /*
     * Checks
     */
    if(!lastModelChanged) {
      return;
    }
    if(!lastChangeTimestamp || !lastFetchTime.current) {
      return;
    }
    let isNewChange = (lastFetchTime.current<lastChangeTimestamp);
    if(!isNewChange) {
      return;
    }

    /*
     * Update timestamps
     */
    lastFetchTime.current = Date.now();
    
    /*
     * Case 1: 
     * This item was updated, either in his attributes or in his associations, or was deleted.
     * 
     * Conditions:
     * A: the item was modified.
     * B: the item was deleted.
     * 
     * Actions:
     * if A:
     * - set 'updated' alert
     * - return
     * 
     * if B:
     * - set 'deleted' alert
     * - return
     */

    //check if this.item changed
    if(lastModelChanged&&
      lastModelChanged.<%- name _%>&&
      lastModelChanged.<%- name _%>[String(item.<%- internalId _%>)]) {

        //updated item
        if(lastModelChanged.<%- name _%>[String(item.<%- internalId _%>)].op === "update"&&
            lastModelChanged.<%- name _%>[String(item.<%- internalId _%>)].newItem) {
              //show alert
              setUpdated(true);
        } else {
          //deleted item
          if(lastModelChanged.<%- name _%>[String(item.<%- internalId _%>)].op === "delete") {
              //show alert
              setDeleted(true);
          }
        }
    }//end: Case 1
  }, [lastModelChanged, lastChangeTimestamp, item.<%- internalId _%>]);

  useEffect(() => {
    if(deleted&&updated) {
      setUpdated(false);
    }
  }, [deleted, updated]);

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  useEffect(() => {
    if (<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem !== undefined) {
      set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen(true);
    }
  }, [<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem]);
<%}-%>

  function getInitialValues() {
    let initialValues = {};

<%for( let i=0; i<attributesArr.length; i++ ){-%>
    initialValues.<%- attributesArr[i][0] %> = item.<%- attributesArr[i][0] _%>;
<%}-%>

    return initialValues;
  }

<%if(hasOwnForeingKeys){-%>
  function getInitialForeignKeys() {
    let initialForeignKeys = {};
    
<%for( let i=0; i<ownForeignKeysArr.length; i++ ){-%>
    initialForeignKeys.<%- ownForeignKeysArr[i] %> = item.<%- ownForeignKeysArr[i] _%>;
<%}-%>

    return initialForeignKeys;
  }
<%}-%>

  function getInitialValueOkStates() {
    /*
      status codes:
        1: acceptable
        0: unknown/not tested yet (this is set on initial render)/empty
       -1: not acceptable 
    */
    let initialValueOkStates = {};

<%for( let i=0; i<attributesArr.length; i++ ){-%>
    initialValueOkStates.<%- attributesArr[i][0] %> = (item.<%- attributesArr[i][0] _%>!==null ? 1 : 0);
<%}-%>

    return initialValueOkStates;
  }

  function areThereNotAcceptableFields() {
    let a = Object.entries(valueOkStates);
    for(let i=0; i<a.length; ++i) {
      if(a[i][1] === -1) {
        return true;
      }
    }
    return false;
  }

  function areThereIncompleteFields() {
    let a = Object.entries(valueOkStates);
    for(let i=0; i<a.length; ++i) {
      if(a[i][1] === 0) {
        return true;
      }
    }
    return false;
  }

  function areThereChangedFields() {
<%for( let i=0; i<attributesArr.length; i++ ){-%>
<% if(attributesArr[i][1] === 'DateTime') {-%>
    if((values.current.<%- attributesArr[i][0] %> === null || item.<%- attributesArr[i][0] %> === null) && item.<%- attributesArr[i][0] %> !== values.current.<%- attributesArr[i][0] %>) { return true; }
    if(values.current.<%- attributesArr[i][0] %> !== null && item.<%- attributesArr[i][0] %> !== null && !moment(values.current.<%- attributesArr[i][0] %>).isSame(item.<%- attributesArr[i][0] %>)) { return true; }
<%} else if(attributesArr[i][1] === 'Time'){-%>
    if((values.current.<%- attributesArr[i][0] %> === null || item.<%- attributesArr[i][0] %> === null) && item.<%- attributesArr[i][0] %> !== values.current.<%- attributesArr[i][0] %>) { return true; }
    if(values.current.<%- attributesArr[i][0] %> !== null && item.<%- attributesArr[i][0] %> !== null && moment(values.current.<%- attributesArr[i][0] %>, "HH:mm:ss.SSSZ").format("HH:mm:ss.SSSZ") !== moment(item.<%- attributesArr[i][0] %>, "HH:mm:ss.SSSZ").format("HH:mm:ss.SSSZ")) { return true; }
    <%} else if(attributesArr[i][1] === 'Int'){-%>
    if(Number(values.current.<%- attributesArr[i][0] %>) !== Number(item.<%- attributesArr[i][0] %>)) { return true;}
<%} else {-%>
    if(values.current.<%- attributesArr[i][0] %> !== item.<%- attributesArr[i][0] %>) { return true;}
<%}-%>
<%}-%>
    return false;
  }

<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_one") {
-%>
  function setAddRemove<%- sortedAssociations[i].relationNameCp %>(variables) {
    variables.add<%- sortedAssociations[i].relationNameCp %> = undefined;
    variables.remove<%- sortedAssociations[i].relationNameCp %> = undefined;
    //data to notify changes
    changedAssociations.current.<%- sortedAssociations[i].relationName %> = {added: false, removed: false};
    
    //currently to-one-associated
    if(item.<%- sortedAssociations[i].relationName %>&&item.<%- sortedAssociations[i].relationName _%>.<%- sortedAssociations[i].internalId _%>) {
      
      //case: has id to add
      if(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.length>0) {
        
        //case: current association changed
        if(item.<%- sortedAssociations[i].relationName %>.<%- sortedAssociations[i].internalId _%> !== <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current[0]) {
          variables.add<%- sortedAssociations[i].relationNameCp %> = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current[0];
          variables.remove<%- sortedAssociations[i].relationNameCp %> = item.<%- sortedAssociations[i].relationName %>.<%- sortedAssociations[i].internalId _%>;

          changedAssociations.current.<%- sortedAssociations[i].relationName %>.added = true;
          changedAssociations.current.<%- sortedAssociations[i].relationName %>.idsAdded = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current;
          changedAssociations.current.<%- sortedAssociations[i].relationName %>.removed = true;
          changedAssociations.current.<%- sortedAssociations[i].relationName %>.idsRemoved = [item.<%- sortedAssociations[i].relationName %>.<%- sortedAssociations[i].internalId _%>];
        }
      } else { //case: current association removed
        variables.add<%- sortedAssociations[i].relationNameCp %> = null;
        variables.remove<%- sortedAssociations[i].relationNameCp %> = item.<%- sortedAssociations[i].relationName %>.<%- sortedAssociations[i].internalId _%>;
        
        changedAssociations.current.<%- sortedAssociations[i].relationName %>.removed = true;
        changedAssociations.current.<%- sortedAssociations[i].relationName %>.idsRemoved = [item.<%- sortedAssociations[i].relationName %>.<%- sortedAssociations[i].internalId _%>];
      }
    } else { //currently not to-one-associated
      
      //case: has new id to add
      if(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.length>0) {
        variables.add<%- sortedAssociations[i].relationNameCp %> = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current[0];
        variables.remove<%- sortedAssociations[i].relationNameCp %> = null;

        changedAssociations.current.<%- sortedAssociations[i].relationName %>.added = true;
        changedAssociations.current.<%- sortedAssociations[i].relationName %>.idsAdded = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current;
      }
    }
  }
<%}}-%>

  function doSave(event) {
    /*
      Variables setup
    */
    //variables
    let keys = Object.keys(values.current);
    let variables = {};

<%if(internalId === 'id'){-%>
    //id
    variables.id = item.id;
<%}-%>

    //attributes
    for(let i=0; i<keys.length; i++) {
      if(valuesOkRefs.current[keys[i]] !== -1) {
        variables[keys[i]] = values.current[keys[i]];
      }
    }

    //add & remove: to_one's
<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_one") {
-%>
    setAddRemove<%- sortedAssociations[i].relationNameCp %>(variables);
<%}}-%>

    //add & remove: to_many's
<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    //data to notify changes
    changedAssociations.current.<%- sortedAssociations[i].relationName %> = {added: false, removed: false};
    
    if(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.length>0) {
      variables.add<%- sortedAssociations[i].relationNameCp %> = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current;
      
      changedAssociations.current.<%- sortedAssociations[i].relationName %>.added = true;
      changedAssociations.current.<%- sortedAssociations[i].relationName %>.idsAdded = <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current;
    }
    if(<%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current.length>0) {
      variables.remove<%- sortedAssociations[i].relationNameCp %> = <%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current;
      
      changedAssociations.current.<%- sortedAssociations[i].relationName %>.removed = true;
      changedAssociations.current.<%- sortedAssociations[i].relationName %>.idsRemoved = <%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current;
    }
<%}}-%>

    /*
      API Request: updateItem
    */
    let cancelableApiReq = makeCancelable(api.<%- nameLc _%>.updateItem(graphqlServerUrl, variables));
    cancelablePromises.current.push(cancelableApiReq);
    cancelableApiReq
      .promise
      .then(response => {
        //delete from cancelables
        cancelablePromises.current.splice(cancelablePromises.current.indexOf(cancelableApiReq), 1);
        //check response
        if (
          response.data &&
          response.data.data
        ) {
          //notify graphql errors
          if(response.data.errors) {
            actionText.current = t('modelPanels.gotIt', "Got it");
            enqueueSnackbar( t('modelPanels.errors.e3', "The GraphQL query returned a response with errors. Please contact your administrator."), {
              variant: 'error',
              preventDuplicate: false,
              persist: true,
              action,
            });
            console.log("Errors: ", response.data.errors);
          } else {

            //ok
            enqueueSnackbar( t('modelPanels.messages.msg5', "Record updated successfully."), {
              variant: 'success',
              preventDuplicate: false,
              persist: false,
              anchorOrigin: {
                vertical: 'bottom',
                horizontal: 'left',
              },
            });
            onClose(event, true, response.data.data.update<%- nameCp %>);
          }
          return;

        } else { //error: bad response on updateItem()
          actionText.current = t('modelPanels.gotIt', "Got it");
          enqueueSnackbar( t('modelPanels.errors.e2', "An error ocurred while trying to execute the GraphQL query, cannot process server response. Please contact your administrator."), {
            variant: 'error',
            preventDuplicate: false,
            persist: true,
            action,
          });
          console.log("Error: ", t('modelPanels.errors.e2', "An error ocurred while trying to execute the GraphQL query, cannot process server response. Please contact your administrator."));
          
          //reset contention flags
          isSaving.current = false;
          isClosing.current = false;
          return;
        }
      })
      .catch(({isCanceled, ...err}) => { //error: on updateItem()
        if(isCanceled) {
          return;
        } else {
          actionText.current = t('modelPanels.gotIt', "Got it");
          enqueueSnackbar( t('modelPanels.errors.e1', "An error occurred while trying to execute the GraphQL query. Please contact your administrator."), {
            variant: 'error',
            preventDuplicate: false,
            persist: true,
            action,
          });
          console.log("Error: ", err);
          
          //reset contention flags
          isSaving.current = false;
          isClosing.current = false;
          return;
        }
      });
  }

  const handleTabsChange = (event, newValue) => {
    //save last value
    lastTabValue.current = newValue;

    if(!isDebouncingTabsChange.current){
      //set last value
      currentTabValue.current = newValue;
      setTabsValue(newValue);
      
      //debounce
      isDebouncingTabsChange.current = true;
      let cancelableTimer = startTimerToDebounceTabsChange();
      cancelablePromises.current.push(cancelableTimer);
      cancelableTimer
        .promise
        .then(() => {
          //clear flag
          isDebouncingTabsChange.current = false;
          //delete from cancelables
          cancelablePromises.current.splice(cancelablePromises.current.indexOf(cancelableTimer), 1);
          //check
          if(lastTabValue.current !== currentTabValue.current){
            setTabsValue(lastTabValue.current);
            currentTabValue.current = lastTabValue.current;
          }
        })
        .catch(() => {
          return;
        })
    }
  };

  const handleSetValue = (value, status, key) => {
    values.current[key] = value;
    if(status !== valuesOkRefs.current[key]) {
      valuesOkRefs.current[key] = status;
      setValueOkStates({...valuesOkRefs.current});
    }
  }

  const handleSave = (event) => {
    if(areThereNotAcceptableFields()) {
      setConfirmationTitle( t('modelPanels.invalidFields', "Some fields are not valid") );
      setConfirmationText( t('modelPanels.invalidFieldsB', "To continue, please correct these fields.") );
      setConfirmationAcceptText("");
      setConfirmationRejectText( t('modelPanels.updateAccept', "I UNDERSTAND"));
      handleAccept.current = () => {
        isSaving.current = false;
        setConfirmationOpen(false);
      }
      handleReject.current = () => {
        isSaving.current = false;
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
      return;
    }

    if(areThereIncompleteFields()) {
      setConfirmationTitle( t('modelPanels.incompleteFields', "Some fields are empty") );
      setConfirmationText( t('modelPanels.incompleteFieldsB', "Do you want to continue anyway?") );
      setConfirmationAcceptText( t('modelPanels.saveIncompleteAccept', "YES, SAVE") );
      setConfirmationRejectText( t('modelPanels.saveIncompleteReject', "DON'T SAVE YET") );
      handleAccept.current = () => {
        if(!isClosing.current) {
          isClosing.current = true;
          doSave(event);
          setConfirmationOpen(false);
        }
      }
      handleReject.current = () => {
        isSaving.current = false;
        setConfirmationOpen(false);
      }
      setConfirmationOpen(true);
    } else {
      doSave(event);
    }
  }

  const handleCancel = (event) => {
    if(areThereChangedFields()) {
        setConfirmationTitle( t('modelPanels.cancelChanges', "The edited information has not been saved") );
        setConfirmationText( t('modelPanels.cancelChangesB', "Some fields have been edited, if you continue without save, the changes will be lost, you want to continue?") );
        setConfirmationAcceptText( t('modelPanels.cancelChangesAccept', "YES, EXIT") );
        setConfirmationRejectText( t('modelPanels.cancelChangesReject', "STAY") );
        handleAccept.current = () => {
          if(!isClosing.current) {
            isClosing.current = true;
            setConfirmationOpen(false);
            onClose(event, false, null);
          }
        }
        handleReject.current = () => {
          isCanceling.current = false;
          setConfirmationOpen(false);
        }
        setConfirmationOpen(true);
        return;
    } else {
      onClose(event, false, null);
    }
  }

  const onClose = (event, status, newItem) => {
    setOpen(false);
    handleClose(event, status, item, newItem, changedAssociations.current);
  }

  const handleConfirmationAccept = (event) => {
    handleAccept.current();
  }

  const handleConfirmationReject = (event) => {
    handleReject.current();
  }

  const handleTransferToAdd = (associationKey, itemId) => {
    switch(associationKey) {
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
      case '<%- sortedAssociations[i].relationName _%>':
<%if((sortedAssociations[i].sqlType === 'belongsTo') && (sortedAssociations[i].foreignKey)){-%>
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
        handleSetValue(itemId, 1, '<%- sortedAssociations[i].foreignKey _%>');
        setForeignKeys({...foreignKeys, <%- sortedAssociations[i].foreignKey _%>: itemId});
<%} else if((sortedAssociations[i].sqlType === 'hasOne')){-%>
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
<%} else {-%>
        <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
<%}-%>
        break;
<%}-%>

      default:
        break;
    }
  }

  const handleUntransferFromAdd =(associationKey, itemId) => {
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
    if(associationKey === '<%- sortedAssociations[i].relationName _%>') {
<%if((sortedAssociations[i].sqlType === 'belongsTo') && (sortedAssociations[i].foreignKey)){-%>
      <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
      set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState([]);
      handleSetValue(null, 0, '<%- sortedAssociations[i].foreignKey _%>');
      setForeignKeys({...foreignKeys, <%- sortedAssociations[i].foreignKey _%>: null});
<%} else if((sortedAssociations[i].sqlType === 'hasOne')){-%>
      <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current = [];
      set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState([]);
<%} else {-%>
      for(let i=0; i<<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.length; ++i)
      {
        if(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current[i] === itemId) {
          <%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current.splice(i, 1);
          set<%- sortedAssociations[i].relationNameCp _%>IdsToAddState(<%- sortedAssociations[i].relationNameLc _%>IdsToAdd.current);
          return;
        }
      }
<%}-%>
      return;
    }//end: case '<%- sortedAssociations[i].relationName _%>'
<%}-%>
  }

<%if(hasToManyAssociations) {-%>
  const handleTransferToRemove = (associationKey, itemId) => {
    switch(associationKey) {
<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
      case '<%- sortedAssociations[i].relationName _%>':
        <%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current.push(itemId);
        set<%- sortedAssociations[i].relationNameCp _%>IdsToRemoveState(<%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current);
        break;
<%}}-%>

      default:
        break;
    }
  }

  const handleUntransferFromRemove =(associationKey, itemId) => {
<%for( let i=0; i<sortedAssociations.length; i++ ){
  if(sortedAssociations[i].type === "to_many") {
-%>
    if(associationKey === '<%- sortedAssociations[i].relationName _%>') {
      for(let i=0; i<<%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current.length; ++i)
      {
        if(<%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current[i] === itemId) {
          <%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current.splice(i, 1);
          set<%- sortedAssociations[i].relationNameCp _%>IdsToRemoveState(<%- sortedAssociations[i].relationNameLc _%>IdsToRemove.current);
          return;
        }
      }
      return;
    }//end: case '<%- sortedAssociations[i].relationName _%>'
<%}}-%>
  }
<%}-%>

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
  const handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row = (event, item) => {
    set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem(item);
  };

  const handle<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogClose = (event) => {
    delayedClose<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel(event, 500);
  }

  const delayedClose<%- sortedAssociatedModels[i].targetModelCp _%>DetailPanel = async (event, ms) => {
    await new Promise(resolve => {
      window.setTimeout(function() {
        set<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogOpen(false);
        set<%- sortedAssociatedModels[i].targetModelCp _%>DetailItem(undefined);
        resolve("ok");
      }, ms);
    });
  };

<%}-%>

  const startTimerToDebounceTabsChange = () => {
    return makeCancelable( new Promise(resolve => {
      window.setTimeout(function() { 
        resolve(); 
      }, debounceTimeout);
    }));
  };

  return (
    <Dialog fullScreen open={open} TransitionComponent={Transition}
      onClose={(event) => {
        if(!isCanceling.current){
          isCanceling.current = true;
          handleCancel(event);
        }
      }}
    >
      <AppBar>
        <Toolbar>
          <Tooltip title={ t('modelPanels.cancel') }>
            <IconButton 
              edge="start" 
              color="inherit" 
              onClick={(event) => {
                if(!isCanceling.current){
                  isCanceling.current = true;
                  handleCancel(event);
                }
              }}
            >
              <CloseIcon />
            </IconButton>
          </Tooltip>
          <Typography variant="h6" className={classes.title}>
            { t('modelPanels.editing') +  ": <%- nameCp %> | <%- internalId _%>: " + item.<%- internalId _%> }
          </Typography>
          
          {(!deleted)&&(
            <Tooltip title={ t('modelPanels.save') + " <%- nameLc _%>" }>
              <Fab 
                color="secondary" 
                className={classes.fabButton}
                onClick={(event) => {
                  if(!isSaving.current){
                    isSaving.current = true;
                    handleSave(event);
                  }
                }}
              >
                <SaveIcon />
              </Fab>
            </Tooltip>
          )}

        </Toolbar>
      </AppBar>
      <Toolbar/>

      <div className={classes.root}>
        <Grid container justify='center' alignItems='flex-start' alignContent='flex-start'>

          <Grid item xs={12}>
            {/* Delete warning */}
            <Box
              width="100%"
              p={0}
              position="fixed"
              top={appBarHeight}
              left={0}
              zIndex="speedDial"
            >
              <Collapse in={deleted}>
                <Card className={classes.warningCard} square={true}>
                  <CardHeader
                    avatar={
                      <DeletedWarning style={{ color: red[700] }} />
                    }
                    title={ t('modelPanels.deletedWarning', "This item no longer exists. It was deleted elsewhere.") }
                    subheader="Deleted"
                  />
                </Card>
              </Collapse>
            </Box>
          </Grid>
  
          <Grid item xs={12}>
            {/* Update warning */}
            <Box
              width="100%"
              p={0}
              position="fixed"
              top={appBarHeight}
              left={0}
              zIndex="speedDial"
            >
              <Collapse in={updated}>
                <Card className={classes.warningCard} square={true}>
                  <CardHeader
                    avatar={
                      <UpdateWarning style={{ color: amber[700] }} />
                    }
                    title={ t('modelPanels.updatedWarning', "This item was updated elsewhere.") }
                    subheader="Updated"
                  />
                </Card>
              </Collapse>
            </Box>
          </Grid>

          <Grid item xs={12}>
            <Collapse in={updated||deleted}>
              <Card className={classes.warningCard} square={true} elevation={0}>
              </Card>
            </Collapse>
          </Grid>
            
          {/* TabsA: Menú */}
          <Grid item xs={12}>
            <<%- nameOnPascal _%>TabsA
              value={tabsValue}
              handleChange={handleTabsChange}
            />
          </Grid>
          
          <Grid item xs={12}>
            {/* Attributes Page [0] */}
            <<%- nameOnPascal _%>AttributesPage
              hidden={tabsValue !== 0}
              item={item}
              valueOkStates={valueOkStates}
<%if(hasOwnForeingKeys){-%>
              foreignKeys = {foreignKeys}
<%}-%>
              handleSetValue={handleSetValue}
            />
          </Grid>

          <Grid item xs={12}>
            {/* Associations Page [1] */}
            <<%- nameOnPascal _%>AssociationsPage
              hidden={tabsValue !== 1 || deleted}
              item={item}
<%for( let i=0; i<sortedAssociations.length; i++ ){-%>
              <%- sortedAssociations[i].relationNameLc _%>IdsToAdd={<%- sortedAssociations[i].relationNameLc _%>IdsToAddState}
<%if(sortedAssociations[i].type === 'to_many'){-%>
              <%- sortedAssociations[i].relationNameLc _%>IdsToRemove={<%- sortedAssociations[i].relationNameLc _%>IdsToRemoveState}
<%}}-%>
              handleTransferToAdd={handleTransferToAdd}
              handleUntransferFromAdd={handleUntransferFromAdd}
<%if(hasToManyAssociations) {-%>
              handleTransferToRemove={handleTransferToRemove}
              handleUntransferFromRemove={handleUntransferFromRemove}
<%}-%>
<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
              handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row={handleClickOn<%- sortedAssociatedModels[i].targetModelCp _%>Row}
<%}-%>
            />
          </Grid>
        </Grid>

        {/* Confirmation Dialog */}
        <<%- nameOnPascal _%>ConfirmationDialog
          open={confirmationOpen}
          title={confirmationTitle}
          text={confirmationText}
          acceptText={confirmationAcceptText}
          rejectText={confirmationRejectText}
          handleAccept={handleConfirmationAccept}
          handleReject={handleConfirmationReject}
        />

<%for( let i=0; i<sortedAssociatedModels.length; i++ ){-%>
        {/* Dialog: <%- sortedAssociatedModels[i].targetModelCp %> Detail Panel */}
        {(<%- sortedAssociatedModels[i].targetModelLc _%>DetailDialogOpen) && (
          <<%- sortedAssociatedModels[i].targetModelOnPascal _%>DetailPanel
            permissions={permissions}
            item={<%- sortedAssociatedModels[i].targetModelLc _%>DetailItem}
            dialog={true}
            handleClose={handle<%- sortedAssociatedModels[i].targetModelCp _%>DetailDialogClose}
          />
        )}
<%}-%>
      </div>

    </Dialog>
  );
}
<%- nameOnPascal _%>UpdatePanel.propTypes = {
  permissions: PropTypes.object,
  item: PropTypes.object.isRequired,
  handleClose: PropTypes.func.isRequired,
};
