import React from 'react';
import PropTypes from 'prop-types';
import StringField from './components/StringField'
import FloatField from './components/FloatField'
import IntField from './components/IntField'
import BoolField from './components/BoolField'
import DateField from './components/DateField'
import TimeField from './components/TimeField'
import DateTimeField from './components/DateTimeField'
import { makeStyles } from '@material-ui/core/styles';
import Grid from '@material-ui/core/Grid';
import Typography from '@material-ui/core/Typography';
import Card from '@material-ui/core/Card';
import CardContent from '@material-ui/core/CardContent';
import CardHeader from '@material-ui/core/CardHeader';
import Attributes from '@material-ui/icons/HdrWeakTwoTone';

const useStyles = makeStyles(theme => ({
  root: {
    margin: theme.spacing(2),
  },
  card: {
    margin: theme.spacing(1),
    maxHeight: '77vh',
    overflow: 'auto',
  },
  cardContent: {
    marginLeft: theme.spacing(5),
    marginRight: theme.spacing(5),
    minWidth: 200,
  },
}));

export default function <%- nameCp _%>AttributesFormView(props) {
  const classes = useStyles();
  const { item, 
          valueOkStates, 
          handleFieldReady,
          handleSetValue,
        } = props;

  function getItemsOk() {
    let countOk=0;
    let a = Object.entries(valueOkStates);
    for(var i=0; i<a.length; ++i) {
      if(a[i][1] === 1) {
        countOk++;
      }
    }
    return countOk;
  }

  return (
    <div className={classes.root}>
      <Grid container justify='center'>
        <Grid item xs={12}>
          <Card className={classes.card}>
            
            {/* Header */}
            <CardHeader
              avatar={
                <Attributes color="primary" fontSize="small" />
              }
              title={
                <Typography variant="h6">
                  <%- nameCp %> attributes
                </Typography>
              }
              subheader={getItemsOk()+' / <%- attributesArr.length %> completed'}
            >
            </CardHeader>
            
            {/* 
              Fields 
            */}

            {/* Id */}
            <CardContent key='id' className={classes.cardContent}>
              <Typography variant="h6" display="inline">Id:</Typography>
              <Typography variant="h6" display="inline" color="textSecondary">&nbsp;{item.id}</Typography>
            </CardContent>            
<%for( i=0; i<attributesArr.length; i++ ){
  let a = attributesArr[i][0];
  let label = a[0].toUpperCase() + a.slice(1);
  let type = attributesArr[i][1];
-%>
<% if(type === 'String') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <StringField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<% if(type === 'Float') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <FloatField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<% if(type === 'Int') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <IntField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<% if(type === 'Boolean') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <BoolField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<% if(type === 'Date') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <DateField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<% if(type === 'Time') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <TimeField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<% if(type === 'DateTime') {%>
            {/* <%- label %> */}
            <CardContent key='<%- a %>' className={classes.cardContent} >
              <DateTimeField
                itemKey='<%- a %>'
                name='<%- a %>'
                label='<%- label %>'
                text={item.<%- a %>}
                valueOk={valueOkStates.<%- a _%>}
<% if(i===0) {-%>
                autoFocus={true}
<%}-%>
                handleReady={handleFieldReady}
                handleSetValue={handleSetValue}
              />
            </CardContent>
<%}-%>
<%}-%>

          </Card>
        </Grid>
      </Grid>
    </div>
  );
}
<%- nameCp _%>AttributesFormView.propTypes = {
  item: PropTypes.object.isRequired,
  valueOkStates: PropTypes.object.isRequired,
  handleFieldReady: PropTypes.func.isRequired,
  handleSetValue: PropTypes.func.isRequired,
};

